body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #2e465e;
}
.box {
  width: 300px;
  padding: 40px;
  background: #191919;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  text-align: center;
}
.box h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.box input[type="text"],
.box input[type="password"] {
  font-size: 1em;
  border: 0;
  background: none;
  display: block;
  text-align: center;
  margin: 20px auto;
  border: 2px solid #00bfff;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type="text"]:focus,
.box input[type="password"]:focus {
  width: 250px;
  border-color: yellow;
}
.box input[type="submit"] {
  font-size: 1em;
  border: 0;
  background: none;
  display: block;
  text-align: center;
  margin: 20px auto;
  border: 2px solid #00bfff;
  padding: 10px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box input [type="submit"]:hover {
  background: #00ff7f;
}
